<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
</head>
<body>
    <%- include('nav') %>
    <h1>리뷰</h1>
    <% if (is_logined) { %>
        <a href="/review/create">리뷰 작성</a>
    <% } else {%>
        <a href="/account/login">리뷰 작성</a>
    <% } %>

    <% reviews.forEach(function(review){%>
        <a href="/review/detail/<%= review.id %>">
            <div>
                <img src="http://localhost:3000/uploads/<%= review.filename %>" alt="review_img" width="400" height="400">
                <h3>제목: <%= review.title %></h3>
                <p>작성자: <%= review.writer %></p>
            </div>
        </a>
    <%})%>
</body>
</html>