<html>

<head>
  <%- include('header') %>
  <link rel="stylesheet" href="/css/mypage.css">

</head>

<body>
  <%- include('nav') %>
  <main>
    <h1><%= user %>님의 작성 리뷰</h1>

    <% if (reviews.length == 0) {%>
    작성된 리뷰가 없습니다!
    <a href="/review/create">첫 리뷰 작성하기</a>

    <%} else{%>
    <div class="reviewContent">
      <% reviews.forEach(function(review){%>
      <div class="review-container">
        <a href="/review/detail/<%= review.id %>">
          <div>
            <div class="img-container">
              <img src="http://localhost:3000/uploads/<%= review.filename %>" alt="review image">
            </div>
            <p class="review-title"><%= review.title %></p>
            <p>작성자: <%= review.writer %></p>
          </div>
        </a>
      </div>
      <%})%>
    </div>
    <%}%>

    

  </main>
</body>

</html>