<html>

<head>
  <%- include('header') %>
  <link rel="stylesheet" href="/css/mypage.css">

</head>

<body>
  <%- include('nav') %>
  <main>
    <h1><%= user %>님의 작성 리뷰</h1>
    
    <% if (reviews.length == 0) {%>
      작성된 리뷰가 없습니다!
      <a href="/review/create">첫 리뷰 작성하기</a>

    <%} else{%>
      <div class = "L1">
        <% reviews.forEach(function(review){%>
          <a  href="/review/detail/<%= review.id %>">
            <div class = "L2">
              <img src="http://localhost:3000/uploads/<%= review.filename %>" alt="review_img">
              <h3>제목: <%= review.title %></h3>
              <p>작성자: <%= review.writer %></p>
            </div>
          </a>
        
        <%})%>
      </div>
    <%}%>

    

  </main>
</body>

</html>